.rateBox {
    background-color: #FFFFFF;
    font-family: sans-serif;
    width: 350px;
    text-align: center;
    padding: 0;
    border: 1px solid #878787;
}

.rateButton {
}

.showRating {
    font-family: sans-serif;
    border-radius: 2px;
    border: none;
    padding: 4px;
    background-color: #126f99;
    color: white;
}

.sub {
    color: #2f403f;
}

.name {
    font-weight: bold;
    display: block;
    position: relative;
    padding: 3px;
    width: 100%;
    color: #003366;
    text-align: center;
}

.name a {
    font-size: 1.2em;
    text-decoration: none;
    color: dodgerblue;
}

.name a:visited {
    font-size: 1.2em;
    text-decoration: none;
    color: dodgerblue;
}


.name a:link {
    text-decoration: none;
    font-size: 1.2em;
    color: dodgerblue;
}


.title {
    font-weight: bold;
    position: relative;
    margin: 5px;
    display: inline-block;
    text-align: center;
    padding: 3px;
    color: #003366;
}

.tags {
    width: 290px
}

.tag {
    background-color: #d0fbfc;
    font-size: .8em;
    font-weight: bold;
    margin: 2px;
    border: 1px solid #83e0f2;
    padding: 4px;
    display: inline-block;
}

.hide {
    display: none;
}

.rating {
    color: green;
}

.good {
    color: green;
}

.okay {
    color: orange;
}

.bad {
    color: red;
}